@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main>
        @Body
    </main>
    <footer class="footer">
        <div class="footer-left">
            © 2025 Charmone Strauss. All rights reserved.
        </div>
        <div class="footer-right">
            Developed by Victor Van Rensburg
        </div>
    </footer>
</div>